---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Terms of use – Camino Network Foundation" description='Terms of use – Camino Network Foundation'>
	<Header></Header>
	<div class="flex flex-col justify-between" style="height: calc(100vh - 116px)">
        <main class="prose max-w-screen-lg mx-auto px-8 text-center py-24 h-full flex flex-col items-center justify-center">
            <h1 class="text-2xl lg:text-5xl font-light mb-8">
                Camino Network Foundation <br>
                Dammstrasse 16 <br>
                CH-6300 Zug <br>
                Switzerland
            </h1>
                
            <h2 class="mb-4">
                <div class="font-light mb-2">Represented by:</div>
                Thomas Stirnimann
            </h2>
            <p class="mb-4">
                <div class="font-light mb-2">Contact:</div>
                E-mail: foundation@camino.network <br>
                UID: CHE-376.609.933
            </p>
        </main>
        <Footer />
    </div>
</Layout>