---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import { Image } from 'astro:assets';

import ProfileThomas from '../images/thomas.png'
import ProfileBen from '../images/ben.png'
import ProfilePiotr from '../images/piotr.png'
---

<Layout
	title="Camino Network Foundation"
	description='The Camino Network Foundation operates with the goal of fostering innovation, collaboration, and education within the travel industry'
>
	<main>
		<Hero />
		<div class="py-16 md:py-32 bg-gradient-to-b from-caminoSky/20" id="about">
			<div class="max-w-screen-xl mx-auto px-8 md:grid grid-cols-12 gap-16">
				<div class="col-span-6 mb-12 md:mb-0">
					<svg class="h-24 md:h-32 mb-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 128 128"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21.333 48v58.667m0-58.667h85.334m-85.334 0H16l48-26.667L112 48h-5.333m-85.334 58.667h85.334m-85.334 0H16m90.667 0V48m0 58.667H112M42.667 69.333v16m21.333 0v-16m21.333 0v16"/>
					</svg>
					<div class="text-3xl md:text-5xl font-light tracking-tight">The Foundation</div>
					<p class="my-6">Camino Network Foundation was established in 2023 in Zug, Switzerland. It operates with the goal of fostering innovation, collaboration, and education within the travel industry.</p>
					<p class="my-6">The Foundation has enough flexibility to utilize the assets supporting its mission, including grant management, IP rights utilization, and securities management. The Foundation operates globally and actively engages in activities aligned with its purpose.</p>
				</div>
				<div class="col-span-6">
					<svg class="h-24 md:h-32 mb-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 128 128">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M112 117.333V94.667a4 4 0 0 0-4-4H90.987a.32.32 0 0 1-.32-.32v-23.68a8 8 0 0 0-8-8v0a8 8 0 0 0-8 8v32.38L66.15 88.1a7.175 7.175 0 0 0-5.66-2.766v0c-3.946 0-7.157 3.2-7.157 7.145v0c0 1.307.358 2.589 1.036 3.706l12.83 21.149M106.667 58.667c0-5.542-.94-10.864-2.667-15.816M58.666 10.667c-18.846 0-35.156 10.861-43.01 26.666a47.702 47.702 0 0 0-2.323 5.518m45.334-32.184c20.968 0 38.796 13.444 45.333 32.184M58.666 10.667c9.203 9.202 15.211 20.39 18.024 32.184M58.667 10.667C41.358 27.974 35.35 52.3 40.642 74.483M104 42.85H76.69m-63.357 0a47.927 47.927 0 0 0-2.667 15.816c0 5.541.94 10.863 2.667 15.816m0-31.632H76.69M13.333 74.483h27.31m-27.31 0c4.148 11.89 12.842 21.65 24 27.194m3.31-27.194h2.023"/>
					</svg>
					<div class="text-3xl md:text-5xl font-light tracking-tight">Core values</div>
					<p class="my-6">The Camino Network Foundation supports the development of Camino Network, the first Layer 1 blockchain built specifically for the travel industry by travel technology experts.</p>
					<p class="my-6">Fostering collaborative practices that facilitate the smooth transition of existing travel businesses into the web3 travel ecosystem, the Foundation enhances efficiency and sustainability across the entire travel industry.</p>
					<a class="bg-gray-950 border border-gray-950 hover:bg-white hover:text-gray-950 transition-colors py-3 px-5 inline-block text-center text-white rounded-xl mt-2" href="https://camino.network/" target="_blank" rel="noopener noreferrer">Visit Camino Network</a>
				</div>
			</div>
		</div>

		<div class="py-16 md:py-32" id="initiatives">
			<div class="text-3xl md:text-5xl font-light tracking-tight text-center mb-12">Supporting builders and developers</div>
			<div class="max-w-screen-xl mx-auto px-8">
				<div class="md:grid grid-cols-12 gap-6">
					<div class="mb-6 md:mb-0 col-span-6 rounded-xl bg-white hover:bg-secondary/20 bg-gradient-to-b from-primary/20 p-4 md:p-8 transition-colors">
						<svg class="w-20 mb-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 80 80"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m39.5 54.4 9.4 9.5m-9.4-9.5L30 49.7c2.4-2.4 13.3-10.4 19-4.7m-9.5 9.4L49 45m0 18.9 4.6 9.3c2.3-2.3 10.4-13 4.7-18.7m-9.4 9.4 9.4-9.4m0 0 12.1-12.2a8 8 0 0 0 2.2-3.9l2.2-9.9-9.9 2.3a8 8 0 0 0-3.9 2.1l-12 12m-37.6-.5c-4.5 7-6.2 12.7-4 14.9 2 2 6.6.8 12.6-2.6m24.4-45.3c7-4.5 12.7-6.2 14.9-4 3 3-1.2 12.1-9.6 22.6M14.2 46.7a23.3 23.3 0 0 1 32.5-32.5"/></svg>
						</svg>
						<div class="text-2xl md:text-4xl font-light tracking-tight">Grant program</div>
						<p class="my-6">The Foundation actively engages with developers and travel companies, encouraging their participation in the web3 travel ecosystem through the «Take off» grant program.</p>
						<a class="bg-gray-950 border border-gray-950 hover:bg-white hover:text-gray-950 transition-colors py-3 px-5 inline-block text-center text-white rounded-xl" href="https://camino.network/grant-program/" target="_blank" rel="noopener noreferrer">Apply</a>
					</div>
					<div class="col-span-6 rounded-xl bg-white hover:bg-caminoSky/30 bg-gradient-to-b from-secondary/30 p-4 md:p-8 transition-colors">
						<svg class="w-20 mb-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 80 80"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m53.3 13.3-7.5 7.5m0 0a19.3 19.3 0 0 0-11.5.2m11.5-.2a15 15 0 0 1 9.6 9.2M26.7 13.3l7.6 7.7m0 0c-3.9 1.2-8 4-9.8 9m30.9 0c1 2.4 1.3 4.8 1.3 6.7v6.6M55.4 30H60c2.2 0 6.7-1.3 6.7-6.7m-10 20V50c0 1.8-.4 4.2-1.3 6.7m1.3-13.4h10M55.4 56.7c-2 5-6.4 10-15.4 10s-13.4-5-15.4-10m30.8 0H60c2.2 0 6.7 1.3 6.7 6.6M24.5 30c-.8 1.9-1.2 4-1.2 6.7v6.6M24.5 30H20c-2.2 0-6.7-1.3-6.7-6.7m10 20V50c0 1.8.4 4.2 1.3 6.7m-1.3-13.4h-10m11.3 13.4H20c-2.2 0-6.7 1.3-6.7 6.6"/></svg>
						<div class="text-2xl md:text-4xl font-light tracking-tight">Bug bounty</div>
						<p class="my-6">The Camino Network Foundation focuses on the ongoing development and maintenance of the Camino Network blockchain. Everyone is invited to help find and report vulnerabilities of Camino Network.</p>
						<a class="bg-gray-950 border border-gray-950 hover:bg-white hover:text-gray-950 transition-colors py-3 px-5 inline-block text-center text-white rounded-xl" href="https://camino.network/bugbounty/" target="_blank" rel="noopener noreferrer">Learn more</a>
					</div>
				</div>
			</div>
		</div>

		<div class="py-16 md:py-32 bg-gradient-to-t from-caminoSky/30" id="governing-board">
			<div class="max-w-screen-xl mx-auto px-8">
				<div class="text-5xl font-light tracking-tight text-center mb-12">The Governing Board</div>
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 md:col-span-4 p-4 md:p-8 rounded-xl bg-white text-center">
						<Image src={ProfileThomas} alt="Portrait of Thomas Stirnimann" class="w-32 aspect-square bg-gray-200 rounded-full mx-auto" />
						<div class="text-3xl mt-6 mb-2 tracking-tighter font-light">Thomas Stirnimann</div>
						<div class="text-gray-700">Chairman of the Council</div>
					</div>
					<div class="col-span-12 md:col-span-4 p-4 md:p-8 rounded-xl bg-white text-center">
						<Image src={ProfileBen} alt="Portrait of Stefan Roland Leser" class="w-32 aspect-square bg-gray-200 rounded-full mx-auto" />
						<div class="text-3xl mt-6 mb-2 tracking-tighter font-light">Ben Usinger</div>
						<div class="text-gray-700">Council Member</div>
					</div>
					<div class="col-span-12 md:col-span-4 p-4 md:p-8 rounded-xl bg-white text-center">
						<Image src={ProfilePiotr} alt="Portrait of Piotr Wojtowicz" class="w-32 aspect-square bg-gray-200 rounded-full mx-auto" />
						<div class="text-3xl mt-6 mb-2 tracking-tighter font-light">Piotr Wójtowicz</div>
						<div class="text-gray-700">Council Member</div>
					</div>
				</div>
			</div>
		</div>

	</main>
</Layout>