---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets';
import CaminoLogo from '../images/camino-network-foundation-mark.svg'
---

<Layout
	title="The official statement from the Camino Network Foundation"
	description='On behalf of the Camino Network Foundation (hereinafter, the “Foundation”), we are pleased to share the latest updates and plans for the growth of Camino Network.'
>
    <div class="pb-12 md:pb-24 bg-gradient-to-t from-caminoSky/30">
        <div class="max-w-screen-xl mx-auto px-8 md:grid grid-cols-12 gap-6 items-center">
            <div class="col-span-7 md:pr-24">
                <div class="inline-block tracking-tight mb-6 text-transparent font-medium bg-clip-text bg-gradient-to-r from-primary to-secondary">
                    November 9, 2023
                </div>
                <div class="text-5xl md:text-6xl font-light tracking-tight">
                    Update from the Camino Network Foundation
                </div>
                <p class="mt-6 md:text-lg md:leading-7">
                    We are delighted to present the latest updates and progress against our strategic objectives as we work to expand Camino Network. We remain committed to moving the travel industry forward by utilizing blockchain technology. We are very grateful for the growing support and commitment from our community and partners.
                </p>
            </div>
            <div class="col-span-5 rounded-xl z-10 mt-12 relativ md:overflow-visible">
                <Image src={CaminoLogo} class="max-w-xs md:max-w-none mx-auto w-full h-auto shadow-2xl shadow-blue-500/50 rounded-full" alt="Camino Logo Outline"/>
            </div>
        </div>
    </div>

    <div class="">
        <div class="max-w-screen-xl mx-auto px-8 text-lg">

            <div class="w-full md:grid gap-4 grid-cols-12 border-b border-gray-200 py-16 md:py-24">
                <div class="col-span-4 pr-24">
                    <div class="text-3xl font-light tracking-tight mb-6">Key Achievements</div>
                    <Icon name="mdi:trophy-variant-outline" class="w-24 text-gray-600" />
                </div>
                <div class="col-span-8">
                    <p class="mb-6">
                        Launch of the first Layer-1 blockchain designed for the needs of the travel industry. After the successful presale of Camino tokens (4.6M CHF funds raised), we designed, tested, and launched the blockchain. Camino Network started with 95 consortia members, of whom 36 are now active validators. Participants include travel companies, technology providers, and blockchain specialists.
                    </p>
                    <p class="mb-6">
                        Legal Compliance. The Foundation has sought legal counsel and pursued rulings to ensure compliance with the current Swiss market regulations. Similar compliance counsel is now underway in Germany to ensure that the Camino token adheres to the MiCA (Markets in Crypto-Assets) regulations.
                    </p>
                    <p>
                        Transaction rates cross a key threshold. Despite only being live for a few months, the mainnet’s weekly transaction threshold is now over 1000. In addition, there are 160 entities from travel, travel tech, and web3 verticals that support Camino Network. The online community is also growing with strong participation in educational and engagement campaigns on Discord, Telegram, X (former Twitter), and LinkedIn.
                    </p>
                </div>
            </div>

            <div class="w-full md:grid gap-4 grid-cols-12 border-b border-gray-200 py-16 md:py-24">
                <div class="col-span-4 pr-24">
                    <div class="text-3xl font-light tracking-tight mb-6">Future Endeavors</div>
                    <Icon name="mdi:newspaper-variant-multiple" class="w-24 text-gray-600" />
                </div>
                <div class="col-span-8">
                    <p class="mb-6">
                        To support the consistent growth of Camino Network, we are seeking to create local representation around the world. To finance this expansion, we are launching the next token sales to attract additional stakeholders to join the community. There will be a sale of 75M CAM tokens in three tranches starting this month (November 2023). We aim to raise 11 – 15M CHF.
                    </p>
                    <p>
                        We are actively marketing Camino Network at major and travel tech conferences worldwide, including WTM, Phocuswright, ITB, Travolution, and Travel Un’chained. Moreover, we aim to further intensify our marketing campaigns and community engagement activities.
                    </p>
                </div>
            </div>

            <div class="w-full md:grid gap-4 grid-cols-12 py-16 md:py-24">
                <div class="col-span-4 pr-24">
                    <div class="text-3xl font-light tracking-tight mb-6">CAM Token Listing Update</div>
                    <Icon name="mdi:cube-scan" class="w-24 text-gray-600" />
                </div>
                <div class="col-span-8">
                    <p class="mb-6">
                        The Board of the Foundation has evaluated the insights from our trusted advisors and decided to postpone the token listing. This strategic step has been driven by our desire to cultivate an environment for companies and individuals to thrive within the web3 travel ecosystem, which will significantly increase transactions and use cases on Camino Network, creating better conditions for the token listing and supporting the nature of the CAM token: which is utility and payment token. 
                    </p>
                    <p class="mb-6">
                        At this juncture, we refrain from offering a specific date for the listing, opting instead to prioritize the continued growth of our ecosystem. This approach aligns with our commitment to delivering the most optimal listing experience.
                    </p>
                    <p class="mb-6">
                        To sustain our community's active engagement and foster ongoing educational initiatives, we will organize special online events.
                    </p>
                    <p>
                        We continue building the products and providing transparent communication to grow and strengthen the community and the whole web3 travel ecosystem of Camino Network.
                    </p>
                </div>
            </div>

            <div class="w-full md:grid gap-4 grid-cols-12 border-b border-gray-200 pb-16 md:pb-24">
                <div class="col-span-4 pr-24">
                </div>
                <div class="col-span-8 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-16 mr-6" fill="none" viewBox="0 0 67 118">
                        <path stroke="#101871" stroke-linejoin="round" stroke-width="2" d="M1.458 84.207C8.274 70.574 17.501 35.015 3.495 1.94c-.083-.195.184-.368.314-.2 11.515 14.89 36.304 43.87 48.995 49.71.159.074.3-.1.207-.247-6.496-10.366-21.918-29.372-34.033-25.99C6.678 28.644 6.29 38.44 6.82 43.446c.645 6.078 6.293 24.098 21.453 26.1 6.078.803 10.726-5.72 11.084-24.67-.353 6.574-.011 20.385 4.099 23.806.093.077.23.032.268-.083l3.77-11.31c.067-.198.38-.142.373.068-.186 5.512.495 14.801 4.526 17.092.098.056.22 0 .25-.108l4.895-18.185c.028-.104.139-.161.235-.113 2.658 1.344 7.294 9.14 5.896 30.666-.302 4.648 1.788 22.167 1.788 30.748"/>
                    </svg>
                    <div>
                        <div class="text-lg font-normal">Thomas Stirnimann</div>
                        <div class="text-sm">Chairman of the Council </div>
                    </div>
                </div>
            </div>

            <div class="py-16 md:py-24 text-center">
                <div class="inline-block max-w-prose mx-auto tracking-tight text-transparent text-2xl font-medium bg-clip-text bg-gradient-to-r from-primary to-secondary">
                    The Foundation is fully in place and working to grow the value of the network. We appreciate your strong and creative support as we work together toward the brightest future for the travel industry.
                </div>
            </div>

        </div>
    </div>

</Layout>