<div class="py-16 md:py-32 bg-gradient-to-t from-caminoSky/20 px-8">
    <div class="max-w-screen-xl mx-auto px-8">
        <img class="h-8 md:h-10 mx-auto" src="/camino-network-foundation-logo-mono.svg" alt="">
    </div>
    <nav class="text-center my-8 md:my-12">
        <a href="/#about" class="p-2 hover:bg-gray-100 rounded-lg inline-block">About</a>
        <a href="/#initiatives" class="p-2 hover:bg-gray-100 rounded-lg inline-block">Initiatives</a>
        <a href="/#governing-board" class="p-2 hover:bg-gray-100 rounded-lg inline-block">Governing Board</a>
        <a href="/terms" class="p-2 hover:bg-gray-100 rounded-lg inline-block">Terms of Use</a>
        <a href="/imprint" class="p-2 hover:bg-gray-100 rounded-lg inline-block">Imprint</a>
    </nav>
    <div class="text-center text-sm text-gray-600">
        © 2024 Camino Network Foundation. All rights reserved
    </div>
</div>