<div class="py-16 md:py-32 bg-gradient-to-t from-caminoSky/20">
    <div class="max-w-screen-xl mx-auto px-8">
        <img class="h-8 md:h-10 mx-auto" src="/camino-network-foundation-logo-mono.svg" alt="">
    </div>
    <nav class="text-center mt-12">
        <a href="#about" class="p-2 hover:bg-gray-100 rounded-lg">About</a>
        <a href="#initiatives" class="p-2 hover:bg-gray-100 rounded-lg">Initiatives</a>
        <a href="#governing-board" class="p-2 hover:bg-gray-100 rounded-lg">Governing Board</a>
        <a href="/terms" class="p-2 hover:bg-gray-100 rounded-lg">Terms of Use</a>
        <a href="/imprint" class="p-2 hover:bg-gray-100 rounded-lg">Imprint</a>
    </nav>
</div>