<header class="bg-white py-4 md:py-8">
    <div class="max-w-screen-xl mx-auto px-8 flex flex-col md:flex-row items-start md:items-center md:justify-between">
        <a href="/" class="hover:brightness-125 transition-all">
            <h1 class="hidden">Camino Network Foundation</h1>
            <img class="h-10 mb-6 md:mb-0" src="/camino-network-foundation-logo.svg" alt="Camino Network Foundation Logo">
        </a>
        <nav class="hidden md:block">
            <a href="/#about" class="p-2 hover:bg-gray-100 rounded-lg">About</a>
            <a href="/#initiatives" class="p-2 hover:bg-gray-100 rounded-lg">Initiatives</a>
            <a href="/#governing-board" class="p-2 hover:bg-gray-100 rounded-lg">Governing Board</a>
        </nav>
    </div>
</header>