<header class="bg-white py-4 md:py-8 border-b border-gray-100">
    <div class="max-w-screen-xl mx-auto px-8 flex flex-col md:flex-row items-start md:items-center md:justify-between">
        <img class="h-10 mb-6 md:mb-0" src="/camino-network-foundation-logo.svg" alt="">
        <nav class="text-sm">
            <a href="#about" class="p-2 hover:bg-gray-100 rounded-lg">About</a>
            <a href="#initiatives" class="p-2 hover:bg-gray-100 rounded-lg">Initiatives</a>
            <a href="#governing-board" class="p-2 hover:bg-gray-100 rounded-lg">Governing Board</a>
        </nav>
    </div>
</header>