<header class="bg-white py-4 md:py-8">
    <div class="max-w-screen-xl mx-auto px-8 flex items-center justify-between">
        <img class="h-8 md:h-10" src="/camino-network-foundation-logo.svg" alt="">
        <nav>
            <a href="/" class="p-2 hover:bg-gray-100 rounded-xl">About</a>
            <a href="/" class="p-2 hover:bg-gray-100 rounded-xl">Initiatives</a>
            <a href="/" class="p-2 hover:bg-gray-100 rounded-xl">Governing Board</a>
        </nav>
    </div>
</header>