---
import { Image } from 'astro:assets';
import MountainImage from '../images/pexels-trace-hudson-2724664.jpg'
---

<div class="py-12 md:py-24">
    <div class="max-w-screen-xl mx-auto px-8 md:grid grid-cols-12 gap-6 items-center">
        <div class="col-span-7 md:pr-32">
            <div class="text-4xl md:text-6xl xl:text-7xl font-light tracking-tight">
                Enhancing travel technology for all
            </div>
            <p class="my-6 md:text-lg md:leading-7">
                Camino Network Foundation is a non-profit organization based in Zug, Switzerland, driving the development of a blockchain-based ecosystem in the global travel industry.
            </p>
            <a href="/statement" class="bg-gray-950 border border-gray-950 hover:bg-white hover:text-gray-950 transition-colors py-3 px-5 inline-block text-center text-white rounded-xl">Read our latest update</a>
        </div>
        <div class="col-span-5 rounded-xl z-10 mt-12 md:mt-0 md:h-auto relative overflow-hidden md:overflow-visible">
            <img class="hidden md:block w-40 absolute -left-20 top-1/2 -translate-y-1/2" src="/camino-network-foundation-mark.svg" alt="">
            <Image src={MountainImage} alt="descriptive text" class="rounded-2xl max-h-80 md:max-h-none object-cover object-top" />
        </div>
    </div>
</div>